.bannerContainer{
    position: relative;
}
.bannerContent{
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 40%;
    right: 50%;
    font-size: 22px;
}
@media (max-width: 576px) {
    .bannerContent{
        bottom: 0;
        right: 0;
        font-size: 15px;
        font-weight: 500;
    }
}